@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;

    overflow: hidden;

    overscroll-behavior: none;
}
