@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;

    overflow: hidden;

    overscroll-behavior: none;
}

.sidebar,
.note-wrapper {
    max-height: calc(100vh - 64px);
}

.note-container {
    width: 640px;
}

.rendered-note h1 {
    font-size: 2.25rem;
}

.rendered-note h2 {
    font-size: 1.9rem;
}

.rendered-note h3 {
    font-size: 1.6rem;
}

.rendered-note h4 {
    font-size: 1.25rem;
}

.rendered-note h5 {
    font-size: 1rem;
}

.rendered-note h6 {
    font-size: 0.75rem;
}

.rendered-note h1,
.rendered-note h2,
.rendered-note h3,
.rendered-note h4,
.rendered-note h5,
.rendered-note h6 {
    margin: 0.25rem 0;
}

.rendered-note pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    margin: 0.5rem 0;
}

.rendered-note p {
    margin: 0.5rem 0;
}

.rendered-note code:not(.rendered-note pre code) {
    @apply bg-gray-100;
    padding: 0.25rem;
    font-size: 0.9rem;
    border-radius: 2px;
}

.rendered-note ul {
    display: block;
    list-style-type: disc;
    margin: 0.5rem 0;
    padding-left: 1rem;
}

.rendered-note ol {
    display: block;
    list-style-type: decimal;
    margin: 0.5rem 0;
    padding-left: 1rem;
}

.rendered-note li {
    display: list-item;
}

.rendered-note hr {
    margin: 0.25rem 0;
}

.dark-theme .rendered-note code:not(.rendered-note pre code) {
    @apply bg-gray-800;
}

.dark-theme .rendered-note hr {
    @apply border-gray-700;
}
