@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;

    overflow: hidden;

    overscroll-behavior: none;
}

.sidebar,
.note-wrapper {
    max-height: calc(100vh - 64px);
}

.note-container {
    width: 640px;
}

.rendered-note h1 {
    font-size: 2.25rem;
}

.rendered-note h2 {
    font-size: 1.9rem;
}

.rendered-note h3 {
    font-size: 1.6rem;
}

.rendered-note h4 {
    font-size: 1.25rem;
}

.rendered-note h5 {
    font-size: 1rem;
}

.rendered-note h6 {
    font-size: 0.75rem;
}

.rendered-note pre code {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
}
